body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3a393a;
}
.grid {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
}
.cell{
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}

